/* @import url(http://fonts.googleapis.com/css?family=Salsa|Open+Sans|Inconsolata); */

body {
    background-color: #EDF8FF;
    width: 960px;
    margin: 0 auto;
    font-size: 18px;
    text-shadow: 1px 2px 1px rgba(240, 240, 255, .8);
    font-family: sans-serif;
}

.wf-active body {
    font-family: "Open Sans", sans-serif;
}

.sociale {
    float: right;
    margin-top: 26px;
}

.sociale iframe,
#___plusone_0 {
    vertical-align: middle !important;
}

h1, h2, h3, h4, h5 {
    font-family: serif;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5 {
    font-family: Salsa, serif;
}

h1 {
    float: left;
    text-shadow:
        10px 0 4px rgba(0, 100, 100, .4),
        20px 0 4px rgba(0, 100, 100, .35),
        30px 0 4px rgba(0, 100, 100, .3),
        40px 0 4px rgba(0, 100, 100, .25),
        50px 0 4px rgba(0, 100, 100, .2),
        60px 0 4px rgba(0, 100, 100, .15),
        70px 0 4px rgba(0, 100, 100, .1),
        80px 0 4px rgba(0, 100, 100, .05);
}

h2 {
    text-shadow: 0 2px 5px rgba(0, 43, 53, .2);
}

h2 {
    margin: 20px 0 5px;
}

p {
    line-height: 1.5em;
}

pre, code {
    font-family: monospace;
}

.wf-active pre,
.wf-active code {
    font-family: Inconsolata, monospace;
}

code.ti {
    text-shadow: 0 0 4px rgba(0, 0, 0, .8);
}

pre.usage {
    text-shadow: none;
    font-size: 1.2em;
    padding: 3px 12px 7px;
    border-radius: 3px;
    background-color: #002B36;
    color: #93A1A1;
    box-shadow: inset 0 3px 12px rgba(0, 0, 0, .6);
}

/* Clearfix hack taken from http://css-tricks.com/snippets/css/clear-fix/ */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
